<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="UMS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".userpart.developer.developer"
            android:exported="false" />
        <activity
            android:name=".userpart.profile.MyProfile"
            android:exported="false" />
        <activity
            android:name=".userpart.userfaculty.DisplayFacultyInfo"
            android:exported="false" />
        <activity
            android:name=".userpart.FullImageView"
            android:exported="false" />
        <activity
            android:name=".userpart.login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".adminpart.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".userpart.login.UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".userpart.login.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".userpart.UserMainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adminpart.departments.routine.Routine_Activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.facultymembers.UpdateDepartmentFaculty"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.facultymembers.AddDepartmentFaculty"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.facultymembers.FacultyInformation"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.UpdateInformation"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.DepartmentInformation"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.DepartmentHomepage"
            android:exported="false" />
        <activity
            android:name=".adminpart.students.Update_Student"
            android:exported="false" />
        <activity
            android:name=".adminpart.students.Add_Student"
            android:exported="false" />
        <activity
            android:name=".adminpart.students.Student_Activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.faculty.Update_Teacher"
            android:exported="false" />
        <activity
            android:name=".adminpart.faculty.Add_Teachers"
            android:exported="false" />
        <activity
            android:name=".adminpart.faculty.update_faculty"
            android:exported="false" />
        <activity
            android:name=".adminpart.Ebook_Activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.Gallary_Activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.notice.Notice_Activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.departments.Department_activity"
            android:exported="false" />
        <activity
            android:name=".adminpart.MainActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>